body {
    background-color: rgb(215, 202, 176);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #282828;
}

header img {
    margin-right: 20px;
}

header h1 {
    color: beige;
    font-size: 64px;
}


#main-navigation {
    background-color: rgba(45, 47, 48, 0.463);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}

#main-navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#main-navigation li {
    display: inline-block;
    margin: 0 20px;
}

#main-navigation a {
    color: rgb(19, 19, 18);
    font-size: 24px;
    text-decoration: none;
}


#user-details-form {
    background-color: rgba(72, 67, 67, 0.563);
    color: #000000;
    width: 500px;
    margin: 40px auto;
    padding: 41px;
    border-radius: 49px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
#user-details-form:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 18px;
}

.form-group input {
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    border-radius: 4px;
    border: none;
}


.video-section {
    text-align: center;
    margin: 40px 0;
}


footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}
a:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
